server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bookportal
    username: obss
    password: password
    driverClassName: com.mysql.cj.jdbc.Driver

  jpa:
    spring.jpa.database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        enable_lazy_load_no_trans: true
