server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bookportal
    username: obss
    password: password
    driverClassName: com.mysql.cj.jdbc.Driver

  mail:
    host: smtp.gmail.com
    port: 587
    username: bookportaljip@gmail.com
    password: ucpyfhjgjghrjtky
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        show_sql: false
        format_sql: false
        enable_lazy_load_no_trans: true

jdj:
  secure:
    token:
      validity: 600

site:
  base:
    url:
      https: http://localhost:3000
